In [1]:
import numpy as numpy
import pandapower as pp
import pandas as pd

In [11]:
### put all the varaibles here ###

V_HV = 220 #kilo-V base voltage

P_nu= 450 ## active power of nuclear power 
Q_dis = 0

In [14]:
#Basic net
net = pp.create_empty_network(f_hz='50.0', sn_mva=1, add_stdtypes=True)


pp.create_bus(net, name='Nuclear PP MV', vn_kv = 25, geodata=(100,0))         #0
pp.create_bus(net, name='Nuclear PP HV', vn_kv = V_HV, geodata=(100,0))       #1

pp.create_bus(net, name='Type II B1 MV', vn_kv = 36, geodata=(100,100))       #2
pp.create_bus(net, name='Type II B1 HV', vn_kv = V_HV, geodata=(100,100))     #3

pp.create_bus(net, name='Type II B2 MV', vn_kv = 36, geodata=(0,200))         #4
pp.create_bus(net, name='Type II B2 HV', vn_kv = V_HV, geodata=(0,200))       #5

pp.create_bus(net, name='Type II B3 MV', vn_kv = 36, geodata=(150,200))       #6
pp.create_bus(net, name='Type II B3 HV', vn_kv = V_HV, geodata=(150,200))     #7

pp.create_bus(net, name='Type I B1 MV', vn_kv = 36, geodata=(100,150))       #8
pp.create_bus(net, name='Type I B1 HV', vn_kv = V_HV, geodata=(100,150))      #9

pp.create_bus(net, name='Interconnection', vn_kv = V_HV, geodata=(250,150))  #10

pp.create_bus(net, name='Dismantled plant MV', vn_kv = 25, geodata=(150,150)) #11
pp.create_bus(net, name='Dismantled plant HV', vn_kv = V_HV, geodata=(150,150)) #12


#Incoming exercises

#pp.create_bus(net, vn_kv = V_HV, name='PV PP ', geodata=(50, 250))
#pp.create_bus(net, vn_kv = V_MV, name='PV PP', geodata=(50, 250))

#pp.create_bus(net, vn_kv = V_HV, name='Wind PP', geodata=(0, 50))
#pp.create_bus(net, vn_kv = V_MV, name='Wind PP', geodata=(0, 50))

#pp.create_bus(net, vn_kv = V_HV, name='Storage Plant', geodata=(250, 50))
#pp.create_bus(net, vn_kv = V_MV, name='Storage Plant', geodata=(250, 50))

12

In [16]:
net.bus

                   name  vn_kv type  zone  in_service
0         Nuclear PP MV   25.0    b  None        True
1         Nuclear PP HV  220.0    b  None        True
2         Type II B1 MV   36.0    b  None        True
3         Type II B1 HV  220.0    b  None        True
4         Type II B2 MV   36.0    b  None        True
5         Type II B2 HV  220.0    b  None        True
6         Type II B3 MV   36.0    b  None        True
7         Type II B3 HV  220.0    b  None        True
8          Type I B1 MV   36.0    b  None        True
9          Type I B1 HV  220.0    b  None        True
10      Interconnection  220.0    b  None        True
11  Dismantled plant MV   25.0    b  None        True
12  Dismantled plant HV  220.0    b  None        True

In [19]:
pp.create_gen(net, 0, name='Nuclear PP', vm_pu=1.05, p_mw=P_nuc)
pp.create_gen(net, 11, name='Dismantled Plant', vm_pu = 1, p_mw=0, q_mw=Q_dis)
pp.create_ext_grid(net, 10)  #Slack bus will be bus 10

#Incoming exercises

#pp.create_gen(net, ????, name='Wind PP', name='Wind Power Plant')
#pp.create_gen(net, ????, name='PV PP', name='Solar PV Power plant')
#pp.create_gen(net, ????, name='Storage Plant', name='Storage Plant')
net.sgen=net.sgen.loc[0:0]
net.sgen

Empty DataFrame
Columns: [name, bus, p_mw, q_mvar, sn_mva, scaling, in_service, type, current_source]
Index: []

In [ ]:
pp.create_loads()

In [ ]:
pp.create_line_from_parameters(net, from_bus = 1, to_bus = 1, length_km = L, r_ohm_per_km = r01_km, x_ohm_per_km = x01_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='01')
pp.create_line_from_parameters(net, from_bus = 0, to_bus = 2, length_km = L, r_ohm_per_km = r02_km, x_ohm_per_km = x02_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='02')
pp.create_line_from_parameters(net, from_bus = 1, to_bus = 3, length_km = L, r_ohm_per_km = r13_km, x_ohm_per_km = x13_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='13')
pp.create_line_from_parameters(net, from_bus = 2, to_bus = 3, length_km = L, r_ohm_per_km = r23_km, x_ohm_per_km = x23_km, c_nf_per_km = c_nf_km , max_i_ka = max_i_ka, name='23')